<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzj.recruitment.dao.CerdentialMapper" >
  <resultMap id="BaseResultMap" type="com.zzj.recruitment.pojo.Cerdential" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="证书名字" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="证书父类" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, 证书名字, 证书父类, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from credential
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from credential
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzj.recruitment.pojo.Cerdential" >
    insert into credential (id, 证书名字, 证书父类, 
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{证书名字,jdbcType=VARCHAR}, #{证书父类,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.recruitment.pojo.Cerdential" >
    insert into credential
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="证书名字 != null" >
        证书名字,
      </if>
      <if test="证书父类 != null" >
        证书父类,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="证书名字 != null" >
        #{证书名字,jdbcType=VARCHAR},
      </if>
      <if test="证书父类 != null" >
        #{证书父类,jdbcType=INTEGER},
      </if>
        now(),
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzj.recruitment.pojo.Cerdential" >
    update credential
    <set >
      <if test="证书名字 != null" >
        证书名字 = #{证书名字,jdbcType=VARCHAR},
      </if>
      <if test="证书父类 != null" >
        证书父类 = #{证书父类,jdbcType=INTEGER},
      </if>
        updateTime = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzj.recruitment.pojo.Cerdential" >
    update credential
    set 证书名字 = #{证书名字,jdbcType=VARCHAR},
      证书父类 = #{证书父类,jdbcType=INTEGER},
      updateTime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>