<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzj.recruitment.dao.IndustrysetMapper" >
  <resultMap id="BaseResultMap" type="com.zzj.recruitment.pojo.Industryset" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="iName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="iParentId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <resultMap id="industryListResultMap" type="com.zzj.recruitment.vo.IndustryOrPositionSetListVo" >
    <id property="value" column="id"></id>
    <result property="label" column="iname"></result>
    <collection property="children" ofType="com.zzj.recruitment.vo.IndustryOrPositionSetListVo">
      <id property="value" column="id2"></id>
      <result property="label" column="iname2"></result>
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, iName, iParentId, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from industryset
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from industryset
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzj.recruitment.pojo.Industryset" >
    insert into industryset (id, iName, iParentId, 
      createTime, updateTime)
    values (#{id,jdbcType=INTEGER}, #{iname,jdbcType=VARCHAR}, #{iparentid,jdbcType=INTEGER}, 
      now(), now())
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.recruitment.pojo.Industryset" >
    insert into industryset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="iname != null" >
        iName,
      </if>
      <if test="iparentid != null" >
        iParentId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="iname != null" >
        #{iname,jdbcType=VARCHAR},
      </if>
      <if test="iparentid != null" >
        #{iparentid,jdbcType=INTEGER},
      </if>
      now(),
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzj.recruitment.pojo.Industryset" >
    update industryset
    <set >
      <if test="iname != null" >
        iName = #{iname,jdbcType=VARCHAR},
      </if>
      <if test="iparentid != null" >
        iParentId = #{iparentid,jdbcType=INTEGER},
      </if>
        updateTime = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzj.recruitment.pojo.Industryset" >
    update industryset
    set iName = #{iname,jdbcType=VARCHAR},
      iParentId = #{iparentid,jdbcType=INTEGER},
      updateTime = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getAllIndustry" resultMap="industryListResultMap">
    select i1.id as id, i1.iName as iname, i2.id as id2, i2.iName as iname2 from industryset as i1 inner join industryset as i2 on i1.id = i2.iParentId
  </select>
</mapper>