<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzj.recruitment.dao.SchoolMapper" >
  <resultMap id="BaseResultMap" type="com.zzj.recruitment.pojo.School" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="place" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="properties" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, place, type, properties
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from school
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from school
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zzj.recruitment.pojo.School" >
    insert into school (id, name, place, type, 
      properties)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{place,jdbcType=CHAR}, #{type,jdbcType=CHAR}, 
      #{properties,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zzj.recruitment.pojo.School" >
    insert into school
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="place != null" >
        place,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="properties != null" >
        properties,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=CHAR},
      </if>
      <if test="place != null" >
        #{place,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=CHAR},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zzj.recruitment.pojo.School" >
    update school
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=CHAR},
      </if>
      <if test="place != null" >
        place = #{place,jdbcType=CHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zzj.recruitment.pojo.School" >
    update school
    set name = #{name,jdbcType=CHAR},
      place = #{place,jdbcType=CHAR},
      type = #{type,jdbcType=CHAR},
      properties = #{properties,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>